*{margin:0px; padding:0px;}
body{line-height:1; background:#fafafa; font-family: 'Open Sans', sans-serif;}
a,input,select{text-decoration:none; outline: none; border: 0px;}
ul li, ol li{list-style:none;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.disB{display: block;}
.flt{float: left;}
.flr{float:right;}
.disIB{display: inline-block;}
.popapulbg{width:800px;height: 530px; background:#fff; margin:0 auto;}
.popapul{padding:50px; position: relative;}
.fldText{ width:70%; font-size: 16px; color: #000; float:left; margin-top:12px;}
.btn{padding:12px 15px; font-size: 14px; letter-spacing: .8px; border-radius: 2px;outline: none; border:1px solid transparent; cursor: pointer; box-sizing: border-box;}
.Bluebtn{background: #42a2eb; margin-left:20px; margin-top: 30px; float: right; color:#fafafa;}
.Bluebtn:hover{background:#3c98dd; border-bottom-color: #1b70b0;}
.box{width:100%;padding:30px; background: #fff; border:1px solid #eee; border-radius:2px; box-sizing: border-box; margin-top:20px;}
.serialnum{font-size:30px; color:#000;}
.nameText{font-size:14px; color:#666; margin-top:15px;} 
.value{font-size:14px; color:#111; margin-top:15px; margin-left:10px;}
.sms, .call{width: 25px; height: 23px; background-image: url(../img/icons.png); background-repeat: no-repeat; background-position: -60px -4px; margin-left: 10px; display: inline-block;}
.sms::after, .call::after{content:"Message"; font-size:14px; color:#333; margin:10px 0px 0px 35px; }
.call::after{content: "Voice";}
.contact{width: 100%; padding:15px 15px 10px 15px; background:#fafafa; border:1px solid #eee; box-sizing: border-box; border-top:0px;}
.Redbtn{padding:12px 25px; background: #f00; border-radius: 2px; border:1px solid #f00; display: inline-block; vertical-align: top; margin:20px 0 0 30px;}
.btntext{color:#fafafa; font-size: 14px;}