*{margin:0px; padding:0px;}
body{line-height:1; background:#fafafa; font-family: 'Open Sans', sans-serif;}
a,input,select{text-decoration:none; outline: none; border: 0px;}
ul li, ol li{list-style:none;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.popapulbg{width:800px;height: 530px; background:#fff; margin:0 auto;}
.popapul{padding:50px; position: relative;}
.head{font-size: 20px; color: #000;padding:0 0 25px 0; display: inline-block; margin-left: 30px;}
.head::before{content: ""; width: 25px; height: 20px; background-image: url(../img/icon-message.png); left: 50px; top: 48px; background-position: -55px 98px; position: absolute; cursor: pointer;}
.filed{padding:15px 0 0 0; background:transparent; border-bottom:1px solid #e8e8e8;}
.fldText{ width:30%; font-size: 16px; color: #000; display: inline-block;margin-top:10px;}
.fldtype{ width:450px; background:#fff; outline:none; padding:10px; float: right; font-size: 16px; color: #666; border-bottom:1px solid transparent; display: inline-block;}
.fldtype:hover{border-bottom:1px solid #444;}
.fldMsg{ width:100%; padding:10px 0 10px 0; margin-top:20px; display: inline-block; clear: both;}
.Text1{margin-top: 14px; vertical-align: middle;}

.fldSelect{ width:54%; height: 40px; float: right;}
.sltText{font-size: 16px; color: #3e3e3e; font-style: normal; margin-top: 15px; float: left;}
.sltInput{width:250px; float: right; font-size:14px; color: #666;}

.newSelect{position: relative;display: inline-block;vertical-align: middle;}
.newSelect select{overflow: hidden;padding:12px;margin: 0;background: #fff; outline: none;display: inline-block;-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;text-overflow: ellipsis;white-space: nowrap;-webkit-padding-end: 20px;-webkit-padding-before: 12px;-webkit-padding-after: 12px;-webkit-padding-start: 15px; margin-left: 44px;}
.newSelect:before {content: '';right: 2px;top: 2px;width: 19px;height: 22px;background: #fff;position: absolute;pointer-events: none;display: block;content: ''\9;width: 0px\9;height: 0px\9;background: none\9;}
.newSelect:after {content: url(../img/dropdown.png); background-position: 20px 10px; right: 15px; top:18px; padding: 0 0 15px; position: absolute; pointer-events: none; -webkit-padding-before: 1px; width: 0px\9; height: 0px\9;}

.msgBox{width: 100%; height: 180px; border: 1px solid #cecece; background: #fff; padding:15px; font-size: 16px; color: #666;}
.link{width:500px;float: right;}
.btn{padding:12px 15px; font-size: 14px; border-radius: 2px; background: #3366cc; float: right; margin-top:30px; outline: none; border:1px solid transparent; cursor: pointer;}
.save{background: #42a2eb; color:#fafafa; margin-left:20px;}
.save:hover{background:#3c98dd; border-bottom:1px solid #1b70b0;}
.cancel{border: 1px solid #abaaaa; color:#663c3c; background: transparent;}
.cancel:hover{color:#111;}